BASE_URL=https://www.saucedemo.com/
STANDARD_USERNAME=
STANDARD_PASSWORD=
RESTFUL_BOOKER_BASE_URL=https://restful-booker.herokuapp.com
RESTFUL_BOOKER_BASE_URL=https://restful-booker.herokuapp.com
RESTFUL_BOOKER_USERNAME=
RESTFUL_BOOKER_PASSWORD=